h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: aquamarine;
}

canvas {
    animation-name: Hat;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes Hat {
    from {box-shadow: 9px 9px 45px wheat;}
    to {box-shadow: 9px 9px 45px goldenrod;}
}